{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-4">
      <h2 class="text-center">Sign Up</h2>
      <hr />
    
      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          {{ form.username|attr:"class:form-control"|attr:"placeholder:Username"|attr:"autofocus" }}
          {% for error in form.username.errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>
        
        <div class="form-group">
          {{ form.password1|attr:"class:form-control"|attr:"placeholder:Password" }}
          {% for error in form.password1.errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>

        <div class="form-group">
          {{ form.password2|attr:"class:form-control"|attr:"placeholder:Confirm your password" }}
          {% for error in form.password2.errors %}
            <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>

        <div class="form-group text-center">
          <button class="btn btn-primary mr-2" type="submit">Register</button>
          <a class="btn" href="{% url 'home:login' %}">I already have an account</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}