{% extends 'base.html' %}

{% block title %}{{ author.user.username }}{% endblock title %}

{% block content %}
  <h2 class="text-center">{{ author.user.username }}</h2>
  <hr />

  {% if author.get_articles %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Published</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for article in author.get_articles.all %}
          <tr>
            <td>
              <a href="{% url 'articles:article_detail' article.id %}" class="h5 text-decoration-none">{{ article.title }}</a>
            </td>
            <td>{{ article.created_at|date:"jS \o\f F\, Y" }}</td>
            {% if author.user.id == user.id %}
              <td>
                <a href="{% url 'articles:article_update' article.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'articles:article_delete' article.id %}" class="btn btn-danger">Delete</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="text-center">
      <h4>No articles yet</h4>
      {% if author.user.id == user.id %}
        <a href="{% url 'articles:article_create' %}" class="btn">Create one</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}