{% extends 'base.html' %}

{% block title %}Author list{% endblock %}

{% block content %}
  <h2>Author list</h2>
  <br />

  {% if not author_list %}
    <div class="text-center">
      <h3>No authors yet</h3>
    </div>
    {% else %}
      <ul class="list-group list-group-flush">
        {% for author in author_list %}
          <li class="list-group-item">
            <a href="{% url 'authors:author_detail' author.id %}" class="text-decoration-none h4">{{ author.user.username }}</a>
          </li>
        {% endfor %}
      </ul>
  {% endif %}
{% endblock %}