{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Cundinas</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home:home' %}">Cundinas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'home:home' %}">Home</a>
        </div>
        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'cundinas:cundina_list' %}">Cundinas</a>
            {% comment %} <a class="nav-item nav-link" href="{% url 'articles:category_list' %}">Categories</a> {% endcomment %}
            <a class="nav-item nav-link" href="{% url 'home:logout' %}">Logout</a>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'home:login' %}">Log In</a>
            <a class="nav-item nav-link" href="{% url 'home:signup' %}">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container mt-5">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>