{% extends 'base.html' %}

{% block title %}Save contributor{% endblock title %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    
    {{ form.as_p }}

    <div class="form-group">
      <button type="submit" class="btn btn-dark">Save</button>
    </div>
  </form>
{% endblock %}