{% extends 'base.html' %}

{% block title %}Contributor list{% endblock title %}

{% block content %}
  {% if contributor_list %}
    <a href="{% url 'contributors:contributor_create'  %}?next={{ request.get_full_path }}" class="btn btn-dark">Add contributor</a>
    <br />
    <br />
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total amount</th>
          <th scope="col">Add amount</th>
        </tr>
      </thead>
      <tbody>
        {% for contributor in contributor_list %}
          <tr>
            <td>{{ contributor.name }}</td>
            <td>$ {{ contributor.total_amount }}</td>
            <td><a href="{% url 'contributors:contributor_update_amount' contributor.cundina.id contributor.id %}" class="btn btn-dark">Add amount</a></td>
          </tr>
          {% if forloop.last %}
            <tr>
              <td>Total</td>
              <td>$ {{ contributor.cundina.current_amount }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="text-center">
      No contributors yet
      <br />
      <br />
      <a href="{% url 'contributors:contributor_create' %}" class="btn btn-primary">Create one</a>
    </div>
  {% endif %}
{% endblock %}