{% extends 'base.html' %}

{% block title %}Save cundina{% endblock title %}

{% block content %}
  <h2>Create cundina</h2>
  <hr />
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
      <button type="submit" class="btn btn-dark">Save</button>
    </div>
  </form>
{% endblock %}