{% extends 'base.html' %}

{% block title %}Contributor list{% endblock title %}

{% block content %}
  {% if cundina_list %}
    <h2>Cundina list</h2>
    <hr />
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Total amount</th>
        </tr>
      </thead>
      <tbody>
        {% for cundina in cundina_list %}
          <tr>
            <td><a href="{% url 'contributors:contributor_list' cundina.id %}" class="text-decoration-none">Cundina #{{ cundina.id }}</a></td>
            <td>$ {{ cundina.current_amount }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="text-center">
      No cundinas yet
      <br />
      <br />
      <a href="{% url 'cundinas:cundina_create' %}" class="btn btn-primary">Create one</a>
    </div>
  {% endif %}
{% endblock %}