{% extends 'base.html' %}

{% block title %}Save article{% endblock %}

{% block content %}
  <h2>Save article</h2>
  <hr />

  <div class="row">
    <div class="col-4">
      <form method="post">
        {% csrf_token %}

        <div class="form-group">
          {{ form.as_p }}
        </div>

        <div class="form-group">
          <a class="btn" href="{% url 'articles:article_list' %}">Cancel</a>
          <button class="btn btn-primary mr-2" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    let id_categories = document.querySelector('#id_categories');

    id_categories.className += 'selectpicker';
  </script>
{% endblock %}
