{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
  <blockquote class="blockquote text-center">
    <h3 class="mb-0">{{ article.title }}</h3>
    <footer class="blockquote-footer">By <cite>{{ article.author.user.username }}</cite></footer>
  </blockquote>
  <div class="row justify-content-center">
    {% for category in article.categories.all %}
      <a href="{% url 'articles:category_detail' category.id %}" class="badge badge-success mr-2">{{category.name}}</a>
    {% endfor %}
  </div>
  <hr />

  <p>{{ article.content }}</p>

  {% if article.author.user.id == user.id %}
    <a href="{% url 'articles:article_update' article.id %}" class="btn btn-warning">Update</a>
    <a href="{% url 'articles:article_delete' article.id %}" class="btn btn-danger">Delete</a>
  {% endif %}
{% endblock content %}