{% extends 'base.html' %}

{% block title %}Delete article{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          Delete article
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <p>Are you sure you want to delete "{{ article.title }}"?</p>

            <a href="{% url 'articles:article_list' %}" class="btn btn-secondary mr-2">No</a>
            <button type="submit" class="btn btn-danger">Yes, delete it</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}