{% extends 'base.html' %}

{% block title %}Article list{% endblock %}

{% block content %}
  {% if not article_list %}
    <div class="text-center">
      <h3>No articles yet</h3>
      <a class="btn" href="{% url 'articles:article_create' %}">Create one</a>
    </div>
    {% else %}
    <div class="row">
      <h2>Article list</h2>
      <a class="btn btn-primary ml-auto" href="{% url 'articles:article_create' %}">Create article</a>
    </div>
    <br />

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Published</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for article in article_list %}
          <tr>
            <td>
              <a href="{% url 'articles:article_detail' article.id %}" class="h5 text-decoration-none">{{ article.title }}</a>
            </td>
            <td>
              {% for category in article.categories.all %}
                <a href="{% url 'articles:category_detail' category.id %}" class="text-decoration-none">{{category.name}}</a>{% if not forloop.last %},{% endif %}
              {% endfor %}
            </td>
            <td>{{ article.created_at|date:"jS \o\f F\, Y" }}</td>
            <td>
              {% if article.author.user.id == user.id %}
                <a href="{% url 'articles:article_update' article.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'articles:article_delete' article.id %}" class="btn btn-danger">Delete</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}