{% extends 'base.html' %}

{% block title %}{{ category.name }} category{% endblock title %}

{% block content %}
  <h2 class="text-center">{{ category.name }} category</h2>
  <hr />

  {% if category.get_articles %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Published</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for article in category.get_articles.all %}
          <tr>
            <td>
              <a href="{% url 'articles:article_detail' article.id %}" class="h5 text-decoration-none">{{ article.title }}</a>
            </td>
            <td>{{ article.created_at|date:"jS \o\f F\, Y" }}</td>
            <td>
              <a href="{% url 'articles:article_update' article.id %}" class="btn btn-warning">Update</a>
              <a href="{% url 'articles:article_delete' article.id %}" class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="text-center">
      <h3>No articles yet</h3>
      <a class="btn" href="{% url 'articles:article_create' %}">Create one</a>
    </div>
  {% endif %}
{% endblock content %}