{% extends 'base.html' %}

{% block title %}Category list{% endblock %}

{% block content %}
  <div class="row">
    <h2>Category list</h2>
    <a class="btn ml-auto" href="{% url 'articles:article_list' %}">Article list</a>
  </div>
  <br />

  {% if not category_list %}
    <div class="text-center">
      <h3>No categories yet</h3>
    </div>
    {% else %}
      <ul class="list-group list-group-flush">
        {% for category in category_list %}
          <li class="list-group-item">
            <a href="{% url 'articles:category_detail' category.id %}" class="text-decoration-none h4">{{ category.name }}</a>
          </li>
        {% endfor %}
      </ul>
  {% endif %}
{% endblock %}